@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

    --actions-primary: #6feddb;
    --actions-secondary: #94EDFE;

    --backgrounds-sc-lowest: #ffffff;
    --backgrounds-sc-low: #eff5f4;
    --backgrounds-sc: #e9efef;
    --backgrounds-sc-high: #e3e9e9;
    --backgrounds-sc-highest: #dde4e3;
    --backgrounds-sc-teal: #cdecec;
    --backgrounds-sc-blue: #ddf2f8;
    --backgrounds-sc-blue-intense: #BEE9F3;
    --backgrounds-green-container: #e1f8dd;

    --mastery-complete: #079d08;
    --mastery-warning: #e3aa04;
    --mastery-partial: #E32002;

    --surfaces-surface: #f4fbfa;
    --surfaces-surface-dim: #d5dbdb;

    --error: #ba1a1a;

    --on-surfaces-on-surface: #161d1d;
    --on-surfaces-on-surface-var: #3f4949;
    --on-surfaces-outline: #6f7979;
    --on-surfaces-outline-variant: #c4c6d0;
}

body {
  margin: 0;
  font-family: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: var(--on-surfaces-on-surface-var)
}
